*{
    margin: 0;
    padding: 0;
}

:root{
    --amarelo: #EC992B;
    --azul: #4276CB;
    --branco: #f1f3fd;
    --fonte-titulo: "Boldonse";
    --fonte-texto: "IBM Plex Mono", monospace;
}

body{
    background-color: black;
    color: var(--azul);
    font-family: var(--fonte-texto);
}

.container__logo{
    display: flex;
    justify-content: center;
}

.imagem__logo{
    height: 15em;
}

.informacoes{
    display: flex;
    justify-content: center;
}

.informacoes__container{
    margin: 2em 30em 10em 30em;
}

.container__titulo{
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 1.6em;
    padding-top:3em;
    color: var(--amarelo);
}

.container__texto{
    padding-bottom: 0.3em;
}

.container__bold{
    font-family: var(--fonte-titulo);
    color: var(--amarelo);
    font-size: 0.9em;
}

.destaques{
    justify-content: center;
}

.destaques__lista{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0 3em;
}

.container__lista{
    display: flex;
}

.lista__item{
    margin: 2em 4em;
}

.lista__titulo{
    text-transform: uppercase;
    font-size: 1em;
    font-family: var(--fonte-titulo);
}

.lista__imagem{
    height: 10em;
}

.imagens__texto{
    text-align: center;
    margin-top: 1em;
}

.carrossel__container{
    display: flex;
    margin: 2em 15vw 3em 15vw;
    align-items: center;
}
.carrossel__imagem{
    height: 40em;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.links{
    margin: 10em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.links__titulo{
    font-size: 1.5em;
}

.container__links{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 10px;
}

.cabecalho_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cabecalho__logo {
    width: 100px; 
    height: auto; 
}

.cabecalho__nav {
    padding: 38px;
}

.cabecalho__links {
    display: flex; 
    gap: 30px;
    list-style: none; 
}

.cabecalho__link {
    text-decoration: none;
    color: var(--azul)
}

.footer {
    border-top: 1px solid var(--azul);
    color: var(--amarelo);
    padding: 20px;
}

.footer__texto{
    color: var(--azul);
    text-align: center;
}