*{
    margin: 0;
    padding: 0;
}

:root{
    --amarelo: #EC992B;
    --azul: #4276CB;
    --branco: #f1f3fd;
    --fonte-titulo: "Boldonse";
    --fonte-texto: "IBM Plex Mono", monospace;
}

body{
    background-color: black;
    color: var(--azul);
    font-family: var(--fonte-texto);
}

.container__logo{
    display: flex;
    justify-content: center;
}

.imagem__logo{
    height: 15em;
}

.informacoes{
    display: flex;
    justify-content: center;
}

.informacoes__container{
    margin: 2em 30em;
}

.container__titulo{
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 1.6em;
    padding: 1em;
    color: var(--amarelo);
}

.container__texto{
    padding-bottom: 0.3em;
}

.container__bold{
    font-family: var(--fonte-titulo);
    color: var(--amarelo);
    font-size: 0.9em;
}

.destaques{
    justify-content: center;
}

.destaques__lista{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 5em;
}

.lista__item{
    margin: 2em;
}

.lista__imagem{
    height: 4em;
}